@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --foreground: #171717;
  --color-nav-bg: #1e1b4b;
  --color-nav-text: #e0e7ff;
  --color-nav-border: #312e81;
  --color-nav-muted: #a5b4fc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
